<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strava Authentication Test</title>
    {{ map_test.header.render|safe }}
</head>

{% load static %}
  <!--link rel="stylesheet" href="{% static 'polls/style.css' %}"-->

  <body>
    
    {% if auth_token %}
      <div class="authdetails">Strava authorization details for <strong>{{ user_name }}</strong>:
        
        <ul>
          <li> <strong>Auth token: </strong>
            {{ auth_token }}
          </li>

          <li>
            <strong>Current athlete: </strong>
            {{ current_athlete }}
          </li>

        </ul>

      </div>
      <div class="showroutes">
        {% if routes %}
        <ol>
          {% for route in routes %}
            <li>{{ route }}</li>
          {% endfor %}
        </ol>
        {% endif %}
      </div>

    {% endif %}

    <div><h1>Map of strava route # <strong>{{ route_test.id }}</strong>:</h1></div>
      {{ map_test.html.render|safe }}

    <script>
      {{ map_test.script.render|safe }}
    </script>
  </body>

  </html>
  