<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Earth Engine</title>
    {{ map.header.render|safe }}
</head>

{% load static %}
  <!--link rel="stylesheet" href="{% static 'polls/style.css' %}"-->

  <body>
    {% if data_name %}
      <h2>Data name: {{ data_name }}</h2>
    {% endif %}

    {% if aoi %}
      <h2>Area of interest: {{ aoi }}</h2>
    {% endif %}

    <div><h1>Map of Google Earth Engine Data: </h1></div>

    {% if map %}
      <div class="map-container">
        <!--{{ map.html.render|safe }}-->
        {{ map|safe }}
      </div>
    {% endif %}

    <script>
      {{ map.script.render|safe }}
    </script>
  </body>

  </html>
  