<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strava Data</title>
    {{ map_test.header.render|safe }}
</head>

{% load static %}
  <!--link rel="stylesheet" href="{% static 'polls/style.css' %}"-->

  <body>
    
    <div class="userdetails"><strong>Strava user details:</strong>
      
      {% if current_athlete %}
      <ul>
        <li>
          <strong>Current athlete: </strong>
          {{ athlete_name }}
        </li>
      </ul>
      {% endif %}

    </div>
    <div class="activities">
      {% if activities %}
      <strong>Activities: </strong>
      <ol>
        {% for activity in activities %}
          <li>Activity ID: {{ activity.activity_id }}, Start Date: {{ activity.start_date }}</li>
        {% endfor %}
      </ol>
      {% endif %}
    </div>


    <div><h1>Map of strava activity: </h1></div>

    {% if map %}
      {{ map|safe }}
    {% endif %}

    <script>
      {{ map.script.render|safe }}
    </script>
  </body>

  </html>
  